* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    width:  100%;
    padding: 120px 135px;
}

.cities-works {
    width: 1170px;
    height: 1295px;
    margin: 0 auto;
}

.works__title {
    font-family: 'Delius Unicase', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.cities-works__gallery {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 370px);
    grid-gap: 30px;
    margin-top: 80px;
}

.gallery-item {
    /*background-color: aquamarine;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    opacity: 90%;
}

.gallery-item:hover {
    opacity: 100%;
}
.hovered-icons {
    visibility: hidden;
}

.icon-like, .icon-download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #E0E0E0;
    border: none;
    border-radius: 8px;
}

.gallery-item:hover .hovered-icons {
    visibility: visible;
    display: flex;
    justify-content: space-between;
}

.icon-like, .icon-download:hover {
    cursor: url("img/Vector.svg"), auto;
}

.caption {
    display: flex;
    justify-content: space-between;
}



.author-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.release-date {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #E0E0E0;
}

.first {
    background-image: url("img/cities-works/image-1.png");
}

.second {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("img/cities-works/image.png");
}

.third {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("img/cities-works/image(1).png");
}

.fourth {
    background-image: url("img/cities-works/image-1(1).png");
}

.fifth {
    background-image: url("img/cities-works/image-1(2).png");
}

.sixth {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("img/cities-works/image(2).png");
}

/* nature*/

.nature-works {
    width: 1170px;
    height: 1695px;
    margin: 120px auto;
}

.nature-works__gallery {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(4, 370px);
    grid-gap: 30px;
    margin-top: 80px;
}

.nature-works__first {
    background-image: url("img/nature-works/image-1.png");
}

.nature-works__second {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("img/nature-works/image-2.png");
}

.nature-works__third {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("img/nature-works/image-3.png");
}

.nature-works__fourth {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("img/nature-works/image-4.png");
}

.nature-works__fifth {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url("img/nature-works/image-5.png");
}

.nature-works__sixth {
    background-image: url("img/nature-works/image-6.png");
}

/*start people*/

.people {
    width: 1170px;
    height: 2095px;
    margin: 120px auto;
}

.people-gallery {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(5, 370px);
    gap: 30px;
    margin-top: 80px;
}

.people-first {
    background-image: url("img/people/image-1.png");
}

.people-second {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("img/people/image-2.png");
}

.people-third {
    background-image: url("img/people/image-3.png");
}

.people-fourth {
    background-image: url("img/people/image-4.png");
}

.people-fifth {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("img/people/image-5.png");
}

.people-sixth {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("img/people/image-6.png");
}

.people-seventh {
    background-image: url("img/people/image-7.png");
}

.people-eighth {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url("img/people/image-8.png");
}

.people-ninth {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-image: url("img/people/image-9.png");
}

.people-tenth {
    background-image: url("img/people/image-10.png");
}
