* {
    box-sizing: border-box;
}

.form-wrap {
    height: 500px;
    width: 500px;
    background: #EFEFEF;
    margin: 0 auto;
}

fieldset {
    border: 2px solid;
    border-radius: 5px;
    margin-top: 10px;
}

input {
    margin: 5px;
}

textarea {
    margin-top: 10px;
}