* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    padding-top: 55px;
}

.forms {
    display: flex;
}

.forms_create, .forms_profile {
    padding-left: 35px;
    padding-right: 35px;
}
.forms_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1C1C1C;
    margin-bottom: 20px;
}

label {
    display: flex;
    margin-right: 12px;
    margin-bottom: 7px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}


input {
    padding-left: 20px;
}

input:focus{
    outline: none;
    padding-left: 20px;
}

select:focus {
    outline: none;
}

a {
    text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* start forms create */

.forms_create, .forms_profile {
    width: 570px;
    height: 590px;
    padding-top: 35px;
    padding-left: 35px;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.left {
    margin-left: 135px;
    margin-right: 30px;
}

.forms_create--name {
    display: flex;
}

.forms_create--name input {
    width: 245px;
    height: 38px;
    margin-bottom: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.input:focus {
    border: 1px solid #007BFF;
}

.email {
    width: 503px;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.email-hint {
    visibility: hidden;
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

.email:focus ~ .email-hint {
    visibility: visible;
}

.forms_create--radio {
    display: flex;
    margin-bottom: 20px;
}

.form-check {
    margin-right: 20px;
}

.form-check-input {
    padding: 0;
}

.form-check-input:focus {
    padding: 0;
    box-shadow: none;
}

.forms_create--geolocation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.select_country {
    padding-left: 10px;
    padding-right: 10px;
    width: 254px;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    appearance: none;
    background: url("img/Icon Color.svg") no-repeat 230px, center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}

.select_country:focus {
    border: 1px solid #007BFF;
}

.select_city {
    width: 235px;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

/*.forms_create--registration {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.d-grid {
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    margin-bottom: 22px;
}

.forms_create--confirm {
    width: 410px;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
    margin-left: 50px;
    margin-bottom: 20px;
}

.forms_line {
    width: 500px;
    height: 1px;
    background: #E4E4E4;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}


.footer_span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.2px;
    color: #545454;
}
.footer_login {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
    color: #007BFF;
}

/* start forms create right */

.forms_profile--image {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.forms_profile--photo {
    margin-right: 20px;
}

/*.forms_profile--addphoto {*/
/*    width: 138px;*/
/*    height: 30px;*/
/*    background: #FFFFFF;*/
/*    border: 1px solid #E4E4E4;*/
/*    border-radius: 6px;*/
/*    background: url("img/Photo_Camera.svg") no-repeat 110px center;*/
/*    margin-right: 10px;*/
/*}*/

.forms_profile--add_file {
    width: 138px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background: url("img/Photo_Camera.svg") no-repeat 110px center;
    margin-right: 10px;
}

.forms_profile--add_file:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.file-hint {
    position: absolute;
    top: 60px;
    left: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

.forms_profile--delete_file {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background: url("img/Icon_Color_Trash.svg") no-repeat center;
}

.forms_profile--delete_file:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.forms_profile--info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#fname, #email, #zip, #number, #select_country, #select_city {
    width: 245px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

#fname:focus, #email:focus, #zip:focus, #number:focus, #select_country:focus, #select_city:focus {
    border: 1px solid #007BFF;
}


#select_country {
    padding-left: 10px;
    padding-right: 10px;
    appearance: none;
    background: url("img/Icon Color.svg") no-repeat 220px, center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}

.forms_profile--numbers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button_update {
    width: 150px;
    height: 38px;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
}


